.logbook-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 0rem;
  padding-top: 1rem;
  width: 80vw;
  max-width: 900px;
}
.logbook-container > h2 {
  margin-bottom: 2rem;
}
.logbook-container > * {
  width: 100%;
}