/* Logbook Container */
.logbook-container > h2{
  color: var(--color-text);
}
/* Logbook Div */
/* .logbook-div {
  position: relative;
  border-radius: 0.5rem;
}
.logbook-div:before,
.logbook-div:after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: -0.5rem;
  border-radius: inherit;
  filter: blur(1rem);
  background: conic-gradient(
    from var(--bg-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  animation: rotate-border 2s linear infinite;
} */

/* Buttons window */
.control-group {
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
  border-radius: 0.5rem 0.5rem 0 0;
}
.button-group {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}
.button-group-div1,
.button-group-div2,
.button-group-div3 {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
/* .button-group-div2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.button-group button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Source Sans 3";
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text);
  border: 1.5px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: --gradient-button-fill 350ms, --gradient-button-border-1 350ms, --gradient-button-border-2 350ms;
  animation: rotate-border 1.5s linear infinite;
  animation-play-state: paused;
  background: 
    linear-gradient(var(--gradient-button-fill) 0 0) padding-box,
    linear-gradient(var(--bg-angle), var(--gradient-button-border-1), var(--gradient-button-border-2)) border-box;
 
  &:hover, &:focus-visible {
    --gradient-button-fill: var(--color-gradient-button-fill);
    --gradient-button-border-1: var(--color-gradient-button-border-1);
    --gradient-button-border-2: var(--color-gradient-button-border-2);
    animation-play-state: running;
  }
  &:active {
    --gradient-button-fill: transparent;
  }
}.button-group button[data-title]:hover:after {
  content: attr(data-title);
  position: absolute;
  padding: 0;
  width: fit-content;
  left: 0%;
  bottom: 110%;
  right: -500%;
  font-size: 0.8rem;
  scale: 1;
  color: var(--color-text);
  background: transparent;
  border-radius: 0.25rem;
  animation: fade-in 450ms ease-in, color-shift 450ms ease-in;
  z-index: 1;
}
.button-group > .is-active {
  color: var(--color-accent)
}
.button-group .heading-dropdown {
  position: relative;
}
.button-group .heading-dropdown-content {
  isolation: isolate;
  position: absolute;
  box-sizing: border-box;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  height: 0;
  max-height: fit-content;
  transition: all 350ms;
  background: transparent;
  border-radius: 0 0 0.25rem 0.25rem;
  filter: blur(1px);
  transform: translate(0, -8px);
  /* border: 1px solid red; */
}
.button-group .heading-dropdown-content:before,
.button-group .heading-dropdown-content:after {
  content: '';
  position: absolute;
  inset: -0.5px;
  background: var(--color-card);
  mask-image: linear-gradient(0deg, black 50%, transparent 95%);
  z-index: -1;
}
.button-group .show-dropdown {
  display: block;
  opacity: 1;
  height: 600%;
  max-height: fit-content;
  filter: blur(0);
  transform: translate(0, 0);
}
.button-group .chevron-down {
  opacity: 0.5;
  scale: 0.6;
  transition: all 450ms;
}
.button-group .heading-dropdown:hover .chevron-down {
  scale: 0.65;
  opacity: 1;
}
/* Editor window */
.tiptap {
  box-sizing: border-box;
  background: var(--color-surface);
  text-align: left;
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--color-border);
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  min-height: 50vh;

  &:focus-visible {
    outline: none;
  }
}
.tiptap{
  :first-child {
  margin-top: 0;
  }
}
.submit-button {
  position: relative;
  margin-top: 1rem;
  justify-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Source Sans 3";
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text);
  border: 1.5px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: --gradient-button-fill 350ms, --gradient-button-border-1 350ms, --gradient-button-border-2 350ms;
  animation: rotate-border 1.5s linear infinite;
  animation-play-state: paused;
  background: 
    linear-gradient(var(--gradient-button-fill) 0 0) padding-box,
    linear-gradient(var(--bg-angle), var(--gradient-button-border-1), var(--gradient-button-border-2)) border-box;
 
  &:hover, &:focus-visible {
    --gradient-button-fill: var(--color-gradient-button-fill);
    --gradient-button-border-1: var(--color-gradient-button-border-1);
    --gradient-button-border-2: var(--color-gradient-button-border-2);
    animation-play-state: running;
  }
  &:active {
    --gradient-button-fill: transparent;
  }
}
.output-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 0.5rem 2.5rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
  border-radius: 0.5rem;
}
.output-container {
  :first-child {
    margin-top: 0;
  }
}
.output-container .submitted-form-div {
  margin-bottom: 0.5rem;
  background: var(--color-bg);
  border-radius: 0.5rem;  
  transition: all 350ms;
}
.output-container .submitted-form-div:hover {
  box-shadow: 0px 0px 5px 0px var(--color-text);
} 